<!DOCTYPE html>
<html>
    <style>
        body {

            padding: 20px;
        }
        h1 {
            text-align: center;
            padding-top: 20px;
            border-bottom: 2px solid #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        h2 {
            margin: 0;
            font-size: 24px;
            color: #2e81c0;
        }
        p {
            margin: 10px 0;
        }
        strong {
            font-weight: bold;
        }
    </style>
<head>
    <title>Listado de Productos</title>


</head>
<body>
    <h1>Listado de Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>ID: {{this.id}} - {{this.title}}</h2>
                <p><strong>Descripción:</strong> {{this.description}}</p>
                <p><strong>Precio:</strong> {{this.price}}</p>
                <p><strong>Código:</strong> {{this.code}}</p>
                <p><strong>Stock:</strong> {{this.stock}}</p>

            </li>
        {{/each}}
    </ul>
</body>
</html>
