<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
</head>
<body>
    <h1>Listado de Productos en Tiempo Real</h1>
    <ul id="product-list">
        {{#each products}}
            <li>
                <h2>ID: {{this.id}} - {{this.title}}</h2>
                <p><strong>Descripción:</strong> {{this.description}}</p>
                <p><strong>Precio:</strong> {{this.price}}</p>
                <p><strong>Código:</strong> {{this.code}}</p>
                <p><strong>Stock:</strong> {{this.stock}}</p>
                <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
            </li>
        {{/each}}
    </ul>

    <form id="product-form" onsubmit="event.preventDefault(); addProduct()">
        <input id="title" type="text" name="title" required placeholder="Nombre del producto">
        <input id="description" type="text" name="description" required placeholder="Ingrese una breve descripción del producto">
        <input id="price" type="number" name="price" required placeholder="Precio">
        <input id="code" type="text" name="code" required placeholder="Código">
        <input id="stock" type="number" name="stock" required placeholder="Stock">
        <button type="submit" value="addProduct">Agregar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('productUpdate', function(products) {
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';
            products.forEach(function(product) {
                const item = document.createElement('li');
                item.innerHTML = `<h2>ID: ${product.id} - ${product.title}</h2>
                                 <p><strong>Descripción:</strong> ${product.description}</p>
                                 <p><strong>Precio:</strong> ${product.price}</p>
                                 <p><strong>Código:</strong> ${product.code}</p>
                                 <p><strong>Stock:</strong> ${product.stock}</p>
                                 <button onclick="deleteProduct('${product.id}')">Eliminar</button>`;
                productList.appendChild(item);
            });
        });

        function addProduct() {
            const title = document.getElementById('title').value;
            const description = document.getElementById('description').value;
            const price = document.getElementById('price').value;
            const code = document.getElementById('code').value;
            const stock = document.getElementById('stock').value;
            const data = { title, description, price, code, stock };
            socket.emit('newProduct', data);
            document.getElementById('product-form').reset();
        }

        function deleteProduct(id) {
            socket.emit('deleteProduct', id);
        }
    </script>
</body>
</html>
